*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.btn-sort{
    margin:10px 15px;
}
@media (max-width:1006px) {
    .dif{
        margin:0 15px;
    }
    
}
@media (max-width:673px) {
  #speed{
      padding-left:50px;
  }  
}
.bar-style{
    background-color: rgb(94, 94, 99);
    display:inline-block;
    border:2px solid rgb(224, 223, 223);
    width:25px;
    position:relative;
    padding-left:5px;
    padding-right:10px;
}
#bar-component{
    background-color:rgb(224, 223, 223) ;
    border:2px solid black;
    margin:3% 2%;
    display: flex;
    justify-content: center;
    color: rgb(161, 180, 51);
    
}
/*@media (max-width:1006px) {
    #bar-component{
        flex-direction: column;
    }
    
}*/
#speed,#size{
padding-left: 20px;
color:#fff;
}